<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mx-2" href="#">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-2 " id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/">Home </a>
            <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
            <a class="nav-item nav-link" href="/campgrounds/new">Create new</a>
          </div>
          <div class="navbar-nav ms-auto">
            <% if(!currentUser){ %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <% }else{ %>
            <a class="nav-item nav-link" href="/logout">logout</a>
            <% } %>
          </div>
    </div>
  </nav>
