<% layout('layout/boilerplate') %>

<div class="col-4 offset-4">

    <h1>Login</h1>
    <form action="/login" method="post" class="validated-form " novalidate>
        <div class='mb-3'>
            <label class="form-label" for="title">Username:</label>
            <input type="text" class="form-control" name="username" id="username"  required  >
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        
        <div class='mb-3'>
            <label class="form-label" for="title">Password:</label>:</label>
            <input type="password" class="form-control" name="password" id="password"  required  >
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Login</button>
    </form>
</div>